html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #d6c9c9;
}

.fullpage-wrapper {
  width: 100% !important;
  transform: none !important;
}

.fp-section {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all .5s ease-in-out;
}

.fp-section.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.hidden {
  display: none;
}

#fp-nav {
  position: fixed;
  left: 50px;
  width: 30px;
  top: 44%;
  z-index: 100;
}

#fp-nav ul li a span {
  background-color: #fff;
}

#fp-nav ul li a.active span {
  background-color: #0f33ff;
}

#fp-nav ul li:first-child:after {
  content: "";
  display: block;
  width: 1px;
  height: 280%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -250%;
}

#fp-nav ul li, .fp-slidesNav ul li {
  margin: 25px 0;
  position: relative;
  z-index: 10;
}

#fp-nav ul li:before, .fp-slidesNav ul li:before {
  content: "";
  display: block;
  width: 1px;
  height: 280%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.base-btn {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-family: "MyriadPro-Bold";
  font-size: 2rem;
  margin-bottom: -5rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.base-btn:hover, .base-btn:active, .base-btn:focus {
  color: #fff;
  text-decoration: none;
}

.base-btn:hover:before, .base-btn:active:before, .base-btn:focus:before {
  width: 100%;
}

.base-btn:before {
  content: "";
  display: block;
  width: 0%;
  background-color: #837f83;
  height: 100%;
  position: absolute;
  transition: all 0.4s ease;
  right: 0;
  top: 0;
  z-index: -1;
}

.base-btn span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.base-btn img {
  display: inline-block;
  vertical-align: middle;
}

.btn-more {
  padding-left: 0;
}

.btn-more:hover:before {
  display: none;
}

.our-work {
  position: fixed;
  right: 2%;
  top: 5%;
  z-index: 100;
  display: inline-block;
}

.main-page {
  text-align: center;
}

.section {
  text-align: center;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.left-block {
  position: relative;
  width: 45%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.7s ease;
}

.right-block {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  text-align: left;
  color: #fff;
  transform: translateX(100%);
  transition: all 0.7s ease;
}

.scene {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.part1 {
  position: absolute;
  top: 213px !important;
  left: 328px !important;
  width: 15px;
  height: 16px;
  background: url(../img/part1.png);
}

.part2 {
  position: absolute;
  top: 284px !important;
  left: 550px !important;
  width: 14px;
  height: 14px;
  background: url(../img/part2.png);
}

.part3 {
  position: absolute;
  top: 300px !important;
  left: 405px !important;
  width: 31px;
  height: 31px;
  background: url(../img/part3.png);
}

.part4 {
  position: absolute;
  top: 510px !important;
  left: 378px !important;
  width: 9px;
  height: 11px;
  background: url(../img/part4.png);
}

.section1 .left-block {
  position: relative;
  z-index: 1;
  background: url(../img/section2-bg.jpg) center center no-repeat;
  background-size: cover;
  perspective-origin: center -50%;
  perspective: 2000px;
}

.section1 .left-block .letter-d {
  position: absolute;
  left: 50%;
  bottom: 8.8%;
  width: 87.6%;
  transform-origin: 0 0;
  transform: translateX(-50%) perspective(800px) rotate3d(0, 1, 0, 90deg);
  transform-style: preserve-3d;
  transition: all 0s 0.7s;
}

.section1 .left-block .letter-d img {
  width: 100%;
}

.section1 .left-block .cloud1 {
  position: absolute;
  left: -20px;
  top: 0;
  width: calc(100% + 40px);
}

.section1 .left-block .venera {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 100%);
  transition: all 0s 0.7s;
}

.section1 .left-block .venera img {
  width: 100%;
  transform-origin: 50% 100%;
}

.section1 .left-block .cloud {
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 85%;
}

.section1 .left-block .cloud2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 73%;
}

.section1 .left-block .cubes {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section1 .left-block .cube3 {
  position: absolute !important;
  left: 3% !important;
  top: auto !important;
  bottom: 7px !important;
  width: 38%;
}

.section1 .left-block .cube4 {
  position: absolute !important;
  width: 26%;
  left: auto !important;
  top: auto !important;
  right: 6.55% !important;
  bottom: 5% !important;
}

.section1 .left-block .cube5 {
  position: absolute !important;
  top: 45% !important;
  right: 8% !important;
  left: auto !important;
  width: 23%;
}

.section1 .left-block .cube6 {
  position: absolute !important;
  top: 30% !important;
  right: 15%;
  left: auto !important;
  width: 9vw;
  height: 9vw;
}

.section1 .left-block .cube7 {
  position: absolute !important;
  top: 20% !important;
  left: 15% !important;
  width: 9vw;
  height: 9vw;
}

.section1 .left-block .cube3d {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: cube3d 10s infinite linear;
}

.section1 .left-block .cube3d .side {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .3;
  background: #00C6DC;
}

.section1 .left-block .cube3d .back {
  transform: translateZ(-4.5vw);
}

.section1 .left-block .cube3d .left {
  transform: translateX(-4.5vw) rotateY(90deg);
}

.section1 .left-block .cube3d .right {
  transform: translateX(4.5vw) rotateY(90deg);
}

.section1 .left-block .cube3d .top {
  transform: translateY(-4.5vw) rotateX(90deg);
}

.section1 .left-block .cube3d .bottom {
  transform: translateY(4.5vw) rotateX(90deg);
}

.section1 .left-block .cube3d .front {
  transform: translateZ(4.5vw);
}

.section1 .left-block .cube3d2 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: cube3d 10s infinite linear;
}

.section1 .left-block .cube3d2 .side {
  width: 9vw;
  height: 9vw;
  position: absolute;
  opacity: .3;
  background: #00C6DC;
}

.section1 .left-block .cube3d2 .side2 {
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 20%;
  left: 20%;
  opacity: .8;
  background: #00F9E5;
}

.section1 .left-block .cube3d2 .back {
  transform: translateZ(-4.5vw);
}

.section1 .left-block .cube3d2 .left {
  transform: translateX(-4.5vw) rotateY(90deg);
}

.section1 .left-block .cube3d2 .right {
  transform: translateX(4.5vw) rotateY(90deg);
}

.section1 .left-block .cube3d2 .top {
  transform: translateY(-4.5vw) rotateX(90deg);
}

.section1 .left-block .cube3d2 .bottom {
  transform: translateY(4.5vw) rotateX(90deg);
}

.section1 .left-block .cube3d2 .front {
  transform: translateZ(4.5vw);
}

.section1 .left-block .cube3d2 .back2 {
  transform: translateZ(-2.5vw);
}

.section1 .left-block .cube3d2 .left2 {
  transform: translateX(-2.5vw) rotateY(90deg);
}

.section1 .left-block .cube3d2 .right2 {
  transform: translateX(2.5vw) rotateY(90deg);
}

.section1 .left-block .cube3d2 .top2 {
  transform: translateY(-2.5vw) rotateX(90deg);
}

.section1 .left-block .cube3d2 .bottom2 {
  transform: translateY(2.5vw) rotateX(90deg);
}

.section1 .left-block .cube3d2 .front2 {
  transform: translateZ(2.5vw);
}

.section1 .left-block .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 61%;
}

.section1 .left-block .border img {
  width: 100%;
}

.section2 .left-block {
  position: relative;
  z-index: 1;
  background: #96deff;
}

.section2 .left-block .cloud3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 82%;
}

.section2 .left-block .cloud4 {
  position: absolute;
  left: 0;
  top: 9%;
  width: 68%;
}

.section2 .left-block .cloud5 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75.8%;
}

.section2 .left-block .balloon {
  position: absolute;
  left: 65%;
  top: 11%;
  width: 30%;
}

.section2 .left-block .balloon2 {
  position: absolute;
  left: 10%;
  top: 8%;
  width: 14%;
}

.section2 .left-block .letter-c {
  position: absolute;
  width: 66%;
  bottom: 20%;
  left: 18%;
  transform-origin: 0 50%;
  transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
  transform-style: preserve-3d;
  transition: all 0s 0.7s;
}

.section2 .left-block .letter-c img {
  width: 100%;
}

.section2 .left-block .zhuravel1,
.section2 .left-block .zhuravel2 {
  position: absolute;
  width: 33%;
}

.section2 .left-block .zhuravel1 {
  top: 36%;
  left: -33%;
}

.section2 .left-block .zhuravel2 {
  left: 62%;
  top: 55%;
}

.section2 .left-block .zhuravel3,
.section2 .left-block .zhuravel4 {
  position: absolute;
  width: 22%;
}

.section2 .left-block .zhuravel3 {
  bottom: 26%;
  left: 12%;
}

.section2 .left-block .zhuravel4 {
  left: 50.35%;
  top: 40%;
}

.section2 .left-block .hand {
  position: absolute;
  width: 83.6%;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
}

.section2 .left-block .techniks {
  position: absolute;
  left: 52%;
  bottom: 10.6%;
  width: 0;
  transform-origin: 0 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.section2 .left-block .dots {
  position: absolute;
  left: 54%;
  bottom: 9.6%;
  width: 0;
  transform-origin: 0 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.section2 .left-block .samolet {
  position: absolute;
  left: 45%;
  bottom: 24%;
  width: 0;
}

.section3 .left-block {
  position: relative;
  z-index: 1;
  background: url(../img/section1-bg.jpg) center center no-repeat;
  background-size: cover;
  perspective-origin: center -50%;
  perspective: 300px;
}

.section3 .left-block .bubbles {
  position: absolute !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.section3 .left-block .bubble1 {
  position: absolute !important;
  left: 0 !important;
  bottom: 25% !important;
  top: auto  !important;
  width: 0;
  transition: width 0.7s;
}

.section3 .left-block .bubble3 {
  position: absolute;
  left: 3% !important;
  top: 1% !important;
  width: 0;
  transition: width 0.7s;
}

.section3 .left-block .bubble4 {
  position: absolute !important;
  left: auto !important;
  right: 4%;
  top: 25.5%  !important;
  width: 0;
  transition: width 0.7s;
}

.section3 .left-block .bubble {
  position: absolute !important;
  width: 0;
  transition: width 0.7s;
}

.section3 .left-block .bubble2 {
  left: 6% !important;
  bottom: 21% !important;
  top: auto !important;
}

.section3 .left-block .bubble5 {
  left: 20.9% !important;
  top: 2.5% !important;
}

.section3 .left-block .bubble6 {
  left: 12% !important;
  top: 11.9% !important;
}

.section3 .left-block .bubble7 {
  left: 16.4% !important;
  top: 15.9% !important;
}

.section3 .left-block .bubble8 {
  left: 18.4% !important;
  top: 9.8% !important;
}

.section3 .left-block .bubble9 {
  left: auto !important;
  right: 7.8%;
  top: 36.2% !important;
}

.section3 .left-block .s-img {
  position: absolute;
  bottom: 3%;
  left: 50%;
  width: 0;
  transform: translateX(-50%) rotate(0);
}

.section3 .left-block .s-img img {
  width: 100%;
  height: auto;
  transition: all 0.4s;
}

.section3 .left-block .cube1 {
  position: absolute;
  bottom: 1%;
  left: 2%;
  width: 32.5%;
}

.section3 .left-block .cube1 img {
  width: 100%;
}

.section3 .left-block .youtube-like {
  position: absolute !important;
  top: 18% !important;
  left: 13.7% !important;
  width: 26%;
}

.section3 .left-block .youtube-like img {
  width: 100%;
}

.section3 .left-block .youtube-like2 {
  position: absolute;
  bottom: 17.4%;
  right: 4.5%;
  width: 20%;
}

.section3 .left-block .youtube-like2 img {
  width: 100%;
}

.section3 .left-block .cube2 {
  position: absolute;
  right: 4.2%;
  bottom: 32%;
  width: 19%;
}

.section3 .left-block .cube2 img {
  width: 100%;
}

.section3 .left-block .like-button {
  position: absolute;
  bottom: 2%;
  right: 24.4%;
  width: 30.9%;
}

.section3 .left-block .like-button img {
  width: 100%;
}

.section3 .left-block .dolphin1 {
  position: absolute !important;
  bottom: 18.8% !important;
  left: 36.9% !important;
  width: 41.2%;
  transform: translateY(0) rotate(15deg) !important;
}

.section3 .left-block .dolphin1 img {
  width: 100%;
}

.section3 .left-block .dolphin2 {
  position: absolute !important;
  bottom: 16.3% !important;
  left: 27.9% !important;
  width: 54.7%;
  transform: translateY(0) rotate(15deg) !important;
}

.section3 .left-block .dolphin2 img {
  width: 100%;
}

.section3 .left-block .youtube-like3 {
  position: absolute !important;
  top: 8.1% !important;
  left: 48.2% !important;
  width: 14%;
}

.section3 .left-block .youtube-like3 img {
  width: 100%;
}

.section3 .left-block .like-button2 {
  position: absolute !important;
  top: 16.1% !important;
  left: auto !important;
  right: 14%;
  width: 20%;
}

.section3 .left-block .like-button2 img {
  width: 100%;
}

.section3 .left-block .cube8 {
  position: absolute !important;
  top: 25.2% !important;
  left: 9.7% !important;
  width: 25.8%;
}

.section3 .left-block .cube8 img {
  width: 100%;
}

.section3 .left-block .like-button3 {
  position: absolute !important;
  bottom: 37.2%;
  left: 5.7% !important;
  width: 17.6%;
}

.section3 .left-block .like-button3 img {
  width: 100%;
}

.section4 .left-block {
  position: relative;
  z-index: 1;
  background: #545FFF;
  background-size: cover;
}

.section4 .left-block .camera1 {
  position: absolute;
  top: 0;
  right: 5%;
  width: 35%;
  transform: translateY(-100%);
  transition: all 0s 0.7s;
}

.section4 .left-block .camera2 {
  position: absolute;
  bottom: 0;
  left: -35%;
  width: 35%;
  transform-origin: 0 100%;
  animation: camera2 30s 1.7s linear infinite;
}

.section4 .left-block .letter-b {
  position: absolute;
  left: 55%;
  bottom: 46%;
  width: 0;
  transform: translate(-50%, 50%);
  transition: all 0s 0.7s;
}

.section4 .left-block .letter-b img {
  width: 100%;
}

.section4 .left-block .letter-b .padlock {
  position: absolute;
  left: 14%;
  bottom: 12%;
  width: 68%;
  transform-origin: 50% 50%;
  transform: perspective(600px) translateZ(800px);
  transform-style: preserve-3d;
  transition: all 0s 0.7s;
}

.section4 .left-block .paper1 {
  position: absolute;
  top: 0;
  left: 1.5%;
  width: 41%;
}

.section4 .left-block .paper2 {
  position: absolute;
  left: 0;
  bottom: 23%;
  width: 41%;
}

.section4 .left-block .paper3 {
  position: absolute;
  right: 0;
  bottom: 6%;
  width: 41%;
}

.section4 .left-block .key1 {
  position: absolute !important;
  top: 23% !important;
  left: 8.5% !important;
  width: 21%;
}

.section4 .left-block .key1 img {
  width: 100%;
}

.section4 .left-block .key2 {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  right: 1%;
  bottom: 1%;
  width: 41%;
}

.section4 .left-block .key2 img {
  width: 100%;
}

.overflow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.section.active .left-block {
  transform: translateX(0%);
}

.section.active .right-block {
  transform: translateX(0%);
}

.section.active .dolphin1 {
  animation: dolphin1 1.5s 0.7s forwards;
}

.section.active .dolphin2 {
  animation: dolphin2 1.5s 0.7s forwards;
}

.section.active .dolphin1,
.section.active .dolphin2 {
  bottom: 0% !important;
  transform: translateY(100%) rotate(-20deg);
}

.section.active .bubble1 {
  width: 24%;
  transition: width 0.7s 0.7s;
}

.section.active .bubble3 {
  width: 13%;
  transition: width 0.7s 0.7s;
}

.section.active .bubble4 {
  width: 23%;
  transition: width 0.7s 0.7s;
}

.section.active .bubble {
  width: 6.2%;
  transition: width 0.7s 0.7s;
}

.section.active .s-img {
  width: 78.8%;
  transform: translateX(-50%) rotate(1800deg);
  transition: all 1.5s 0.7s;
}

.section.active .letter-d {
  transform: translateX(-50%) perspective(800px) rotate3d(0, 1, 0, 0deg);
  transition: all 1.0s 0.7s;
}

.section.active .venera {
  transform: translate(-50%, 0);
  transition: all 1.0s 0.7s;
}

.section.active .cloud1 {
  animation: cloud1 10s 0.7s linear infinite;
}

.section.active .cloud {
  animation: cloud 10s 0.7s linear infinite;
}

.section.active .cloud2 {
  animation: cloud2 10s 0.7s linear infinite;
}

.section.active .camera1 {
  transform: translateY(0);
  transition: all 1.0s 0.7s;
  transform-origin: 95% 0;
  transform-style: preserve-3d;
  animation: camera1 7s 1.7s linear infinite;
}

.section.active .letter-b {
  width: 68%;
  transition: all 1.4s 0.7s;
}

.section.active .letter-b .padlock {
  transform: perspective(600px) translateZ(0);
  transition: all 1.4s 2.1s;
}

.section.active .paper1 {
  animation: paper1 7s 1.7s linear infinite;
}

.section.active .paper2 {
  animation: paper2 7s 1.7s linear infinite;
}

.section.active .paper3 {
  animation: paper3 7s 1.7s linear infinite;
}

.section.active .cloud3 {
  animation: cloud2 10s 0.7s linear infinite;
}

.section.active .cloud4 {
  animation: cloud3 10s 0.7s linear infinite;
}

.section.active .cloud5 {
  animation: paper1 10s 0.7s linear infinite;
}

.section.active .balloon {
  animation: balloon 50s 0.7s linear infinite;
}

.section.active .balloon2 {
  animation: balloon2 70s 0.7s linear infinite;
}

.section.active .letter-c {
  transform: perspective(800px) rotate3d(1, 0, 0, 0deg);
  transition: all 1.0s 0.7s;
}

.section.active .zhuravel1 {
  animation: zhuravel1 50s 0.7s linear infinite;
}

.section.active .zhuravel2 {
  animation: zhuravel2 45s 0.7s linear infinite;
}

.section.active .zhuravel3 {
  animation: zhuravel3 25s 0.7s linear infinite;
}

.section.active .zhuravel4 {
  animation: zhuravel4 25s 0.7s linear infinite;
}

.section.active .hand {
  transform: translateY(0);
  transition: all 1.0s 1.3s;
}

.section.active .techniks {
  opacity: 1;
  width: 63.5%;
  transition: opacity 2.3s 1.3s, width 25s;
  animation: dots 20s 0.7s linear infinite;
}

.section.active .dots {
  opacity: 1;
  width: 89%;
  transition: opacity 2.3s 1.3s, width 25s;
  animation: dots 10s 0.7s linear infinite;
}

.section.active .samolet {
  animation: samolet 25s 0.7s linear infinite;
}

@keyframes dolphin1 {
  0% {
    bottom: 0;
    transform: translateY(100%) rotate(-20deg);
  }
  100% {
    bottom: 18.8%;
    transform: translateY(0) rotate(15deg);
  }
}

@keyframes dolphin2 {
  0% {
    bottom: 0;
    transform: translateY(100%) rotate(-20deg);
  }
  100% {
    bottom: 16.3%;
    transform: translateY(0) rotate(15deg);
  }
}

@keyframes cloud1 {
  0% {
    transform: translate(-20px, 0);
  }
  25% {
    transform: translate(0, 10px);
  }
  50% {
    transform: translate(20px, 0);
  }
  75% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-20px, 0);
  }
}

@keyframes cloud {
  0% {
    transform: translate(-10px, 0);
  }
  25% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(20px, 0);
  }
  75% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-10px, 0);
  }
}

@keyframes cloud2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30px, 0);
  }
  75% {
    transform: translate(15px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes camera1 {
  0% {
    transform: perspective(800px) rotate3d(0, 1, 0, 1deg);
  }
  25% {
    transform: perspective(800px) rotate3d(0, 1, 0, -20deg);
  }
  50% {
    transform: perspective(800px) rotate3d(0, 1, 0, 0deg);
  }
  75% {
    transform: perspective(800px) rotate3d(0, 1, 0, 20deg);
  }
  100% {
    transform: perspective(800px) rotate3d(0, 1, 0, 1deg);
  }
}

@keyframes camera2 {
  0% {
    left: -35%;
    bottom: 0;
    transform: rotate(0);
  }
  5% {
    left: 0;
  }
  30% {
    left: 0;
  }
  35% {
    left: -35%;
    opacity: 1;
    bottom: 0;
  }
  35.1% {
    left: -35%;
    opacity: 0;
    transform: rotate(0);
  }
  35.2% {
    left: 0;
    top: auto;
    bottom: 135%;
    transform: rotate(90deg);
  }
  35.3% {
    opacity: 1;
    bottom: 135%;
  }
  42.3% {
    bottom: 100%;
  }
  68% {
    bottom: 100%;
  }
  75% {
    bottom: 135%;
    transform: rotate(90deg) rotateY(0);
    opacity: 1;
  }
  75.1% {
    bottom: 135%;
    left: 0;
    opacity: 0;
    transform: rotate(0) rotateY(180deg);
  }
  75.2% {
    bottom: 0;
    left: 135%;
    opacity: 0;
  }
  75.3% {
    left: 135%;
    opacity: 1;
  }
  80% {
    left: 100%;
  }
  95% {
    left: 100%;
  }
  100% {
    left: 135%;
    transform: rotate(0) rotateY(180deg);
  }
}

@keyframes paper1 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(30px, 0);
  }
  60% {
    transform: translate(30px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes paper2 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-30px, 0);
  }
  60% {
    transform: translate(-30px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes paper3 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(30px, 30px);
  }
  60% {
    transform: translate(10px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes cloud3 {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-30px, 30px);
  }
  70% {
    transform: translate(-15px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes balloon {
  0% {
    left: 65%;
  }
  26.92% {
    opacity: 1;
  }
  26.93% {
    opacity: 0;
    left: 100%;
  }
  26.94% {
    left: -30%;
    opacity: 0;
  }
  26.95% {
    opacity: 1;
  }
  100% {
    left: 65%;
  }
}

@keyframes balloon2 {
  0% {
    left: 10%;
  }
  21.05% {
    opacity: 1;
  }
  21.06% {
    left: -14%;
    opacity: 0;
  }
  21.07% {
    left: 100%;
    opacity: 0;
  }
  21.08% {
    opacity: 1;
  }
  100% {
    left: 10%;
  }
}

@keyframes zhuravel1 {
  0% {
    left: -33%;
  }
  100% {
    left: 100%;
  }
}

@keyframes zhuravel2 {
  0% {
    left: 62%;
  }
  27.95% {
    opacity: 1;
  }
  28% {
    left: 100%;
    opacity: 0;
  }
  28.05% {
    left: -38%;
    opacity: 0;
  }
  28.1% {
    opacity: 1;
  }
  100% {
    left: 62%;
  }
}

@keyframes zhuravel3 {
  0% {
    left: 12%;
  }
  72% {
    opacity: 1;
  }
  72.05% {
    left: 100%;
    opacity: 0;
  }
  72.1% {
    left: -22%;
    opacity: 0;
  }
  72.15% {
    opacity: 1;
  }
  100% {
    left: 12%;
  }
}

@keyframes zhuravel4 {
  0% {
    left: 50.35%;
  }
  59.3% {
    opacity: 1;
  }
  59.31% {
    left: -22%;
    opacity: 0;
  }
  59.32% {
    left: 100%;
    opacity: 0;
  }
  59.33% {
    opacity: 1;
  }
  100% {
    left: 50.35%;
  }
}

@keyframes dots {
  0% {
    transform: rotate(0) translateX(-50%);
  }
  100% {
    transform: rotate(360deg) translateX(-50%);
  }
}

@keyframes samolet {
  0% {
    width: 0;
    left: 45%;
  }
  40% {
    width: 0;
    left: 45%;
  }
  55% {
    width: 30%;
    left: 55%;
  }
  70% {
    width: 60%;
    left: 100%;
  }
  100% {
    width: 60%;
    left: 100%;
  }
}

@keyframes cube3d {
  0% {
    transform: rotate3d(-0.5, 1, 1, 0);
  }
  100% {
    transform: rotate3d(-0.5, 1, 1, 360deg);
  }
}

.base-title {
  font-size: 10rem;
  line-height: 3rem;
  letter-spacing: 2px;
  font-family: "MyriadPro-Bold";
}

.base-text {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.map {
  background-image: url("../img/map.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form-block {
  background-color: #000;
  color: #fff;
  width: 310px;
  height: 360px;
  font-size: 1.6rem;
  padding: 2rem;
  padding-top: 5rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 20rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.form-block .btn-blue {
  color: #fff;
  background-color: #0f33ff;
  width: 145px;
  display: inline-block;
  position: relative;
  bottom: -10rem;
}

.form-block p {
  margin: 0;
  margin-bottom: 10px;
  font-family: ProximaNova-Bold;
}

.form-block a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-family: ProximaNova-Bold;
}

.contact {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact .top-btn {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-70%);
  text-align: center;
}

.btn-blue {
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "ProximaNova-Bold";
  background-color: #0f33ff;
  padding: 0.5rem 2rem;
  margin: 0 2rem;
}

.s-row {
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.s-row .btn-blue {
  text-transform: none;
  border: 2px solid #fff;
  background-color: #000;
  padding: 1rem 4rem 1rem 5rem;
  margin: 2rem 2rem;
}

.s-row .btn-blue:hover {
  cursor: pointer;
}

.s-row .btn-blue.active {
  background-color: #0f33ff;
  border-color: #0f33ff;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

.base-form {
  margin-top: 3rem;
}

.base-form button {
  background-color: #0f33ff;
  text-transform: uppercase;
  font-family: "ProximaNova-Bold";
  color: #fff;
  border: none;
  font-size: 1.8rem;
  padding: 1rem 8rem;
}

.base-form input {
  width: 315px;
  margin: 0 2rem;
  margin-bottom: 5rem;
  padding: 2rem 2rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
}

.base-form input:focus {
  outline: none;
}

.base-form input:focus *::-webkit-input-placeholder {
  color: #fff;
  opacity: 0;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.base-form input:focus *:-moz-placeholder {
  color: #fff;
  opacity: 0;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.base-form input:focus *::-moz-placeholder {
  color: #fff;
  opacity: 0;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.base-form input:focus *:-ms-input-placeholder {
  color: #fff;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.base-form input:focus:before {
  content: "Name";
  color: #fff;
  position: absolute;
  left: 0px;
  font-family: "ProximaNova-Light";
}

.base-form *::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.base-form *:-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.base-form *::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.base-form *:-ms-input-placeholder {
  color: #fff;
  font-family: "ProximaNova-Light";
  font-size: 4rem;
}

.work .content {
  flex-wrap: wrap;
}

.work-item {
  width: 50%;
  height: 50%;
  background-color: red;
  overflow: hidden;
  position: relative;
}

.work-item a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.work-item a:hover img {
  transform: scale(1.5);
  opacity: 1;
}

.work-item a img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  transition: transform 4s ease;
  transform: scale(1);
  opacity: 0;
}

.work-item:nth-child(1) {
  background-color: #b10c24;
}

.work-item:nth-child(1):hover {
  background-color: rgba(59, 89, 152, 0.5);
}

.work-item:nth-child(3) {
  background-color: #00a8ff;
}

.work-item:nth-child(3):hover {
  background-color: rgba(59, 89, 152, 0.5);
}

.work-item:nth-child(4) {
  background-color: #3b5998;
}

.work-item:nth-child(4):hover {
  background-color: rgba(59, 89, 152, 0.5);
}

.title-work {
  color: #fff;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "MyriadPro-Bold";
  z-index: 100;
  top: 40%;
  text-align: center;
  left: 0;
}

.work .content {
  height: calc(100vh - 50px);
}

a.our-work {
  text-decoration: none;
  color: red;
  font-size: 2rem;
}

a.our-work img {
  transform: scale(1.2, 1.2);
}

a.our-work > img {
  margin-top: -65px;
}

section.section1 .right-block {
  background: #9feeff;
}

section.section2 .right-block {
  background: #96deff;
}

section.section3 .right-block {
  background: #daff9f;
}

section.section4 .right-block {
  background: #545fff;
}

div.work-1.logo {
  position: fixed;
  transform: scale(0.3, 0.3);
  top: -7rem;
  left: -3%;
  z-index: 1;
}

div.button-back-small-screen {
  display: none;
}

div.work-1.button-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 7%;
  height: 100vh;
  background: #fff;
  z-index: 1;
  font-size: 3rem;
  border-right: 1px solid #e5e5e5;
}

.fa-th-large {
  position: absolute;
  top: 2rem;
  left: 35%;
  z-index: 2;
  font-size: 3rem !important;
  color: #fd0202;
}

div.work-1.button-back a {
  transition: all 1s;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

div.work-1.button-back a i:first-child {
  color: #000;
}

div.work-1.button-back a:hover {
  background: #fd0202;
}

div.work-1.button-back a:hover i {
  color: #fff;
}

div.first-slide {
  background: #3c5a99;
  text-align: center;
  color: #fff;
  font-size: 62px;
  font-family: "MyriadPro-Bold";
  height: 100vh;
  position: relative;
  overflow: hidden;
}

div.first-slide p {
  margin-top: 15%;
  padding: 0 10%;
}

div.first-slide img {
  max-width: 80%;
  margin-top: 0;
}

div.second-slide, div.third-slide {
  display: flex;
  height: 100vh;
  margin-left: 7%;
}

div.second-slide h1, div.third-slide h1 {
  margin-top: 30%;
}

div.second-slide p, div.third-slide p {
  height: 155px;
  overflow: hidden;
}

div.second-slide div.left-block-work {
  width: 70%;
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: "MyriadPro-Bold";
  height: 100vh;
  background: #f1f3f3;
}

div.second-slide div.left-block-work h1,
div.third-slide div.left-block-work h1 {
  font-size: 50px;
}

div.second-slide div.left-block-work p,
div.third-slide div.left-block-work p {
  font-size: 20px;
}

div.second-slide div.right-block-work {
  width: 30%;
  background-image: url("../img/works/desktop-1.jpg");
  background-size: cover;
  height: 100vh;
}

div.third-slide div.left-block-work {
  width: 50%;
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: "MyriadPro-Bold";
  height: 100vh;
  background: #fff;
}

div.third-slide div.right-block-work {
  width: 50%;
  background-image: url("../img/works/mobile-2.jpg");
  background-size: cover;
  height: 100vh;
}

nav.mobile-menu {
  display: none;
}

nav.menu {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

nav.menu a {
  font-family: "MyriadPro-Bold", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: #000;
  padding: 0 5rem;
}

@media (min-width: 320px) {
  .logo {
    padding: 15px;
  }
  .left-block {
    display: none;
  }
  .right-block {
    text-align: center;
    width: 100%;
    padding: 15px;
  }
  .text-block {
    width: 100%;
  }
  .base-title {
    font-size: 36px;
    line-height: 0rem;
  }
  #fp-nav.right {
    visibility: hidden;
  }
  .form-block {
    width: 100%;
    left: 0;
    right: 0;
  }
  .s-row .btn-blue {
    font-size: 14px;
    width: calc(100% - 40px);
    margin-bottom: 5px;
  }
  .s-row.medQ {
    margin: 8rem auto 0rem auto;
  }
  .s-row.medQ2 {
    margin: 0;
  }
  .base-form input {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .base-form input::placeholder {
    font-size: 2rem;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    padding: 0;
  }
  .left-block {
    display: block;
  }
  .right-block {
    text-align: left;
    width: 55%;
    padding-left: 3rem;
  }
  .base-title {
    font-size: 10rem;
    line-height: 3rem;
  }
  #fp-nav.right {
    visibility: visible;
  }
  .form-block {
    width: 310px;
    left: inherit;
    right: 20rem;
  }
  .s-row .btn-blue {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .s-row.medQ {
    margin: 4rem auto;
  }
  .s-row.medQ2 {
    margin: 4rem auto;
  }
  .base-form input {
    margin: 0 2rem;
    margin-bottom: 5rem;
    padding: 2rem 2rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    font-size: 2rem;
  }
}
