/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	p.base-title {
		font-size: 7rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.s-row .btn-blue {
		margin: 1rem auto;
	}
	.contact .top-btn {
		top: 1rem;
	}

	.s-row {
		margin: 1.5rem auto;
	}

	p.base-title {
		font-size: 4rem;
	}

	div#fp-nav {
		margin-left: -30px;
	}

	div.second-slide h1, div.third-slide h1 {
	  margin-top: 50%;
	}

	a.our-work > img {
	  margin-top: -80px;
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	/*Disable Animation on Mobile Devices*/
	/*.animated {*/
		/*CSS transitions*/
		/*-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		/*-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;*/
		/*CSS animations*/
		/*-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}*/

	div#fp-nav {
		display: none;
	}

	.s-row .btn-blue {
		width: 29%;
		padding: 1rem 2rem;
		margin-left: 10px;
		margin-right: 10px;
	}

	.logo {
		max-width: 80%;
	}

	div.base-text {
		text-align: justify;
	}

	div#scene1, div#scene2, div#scene3, div#scene4, div#scene5, div#scene6, div#scene7, div#scene8 {
		display: none !important;
	}

	.s-row:nth-child(2) {
		margin-top: 60px;
		margin-bottom: 0;
	}

	.s-row:nth-child(3) {
		margin: 0 auto;
	}

	.s-row:nth-child(4) {
		margin: 0 auto;
	}

	.s-row:nth-child(5) {
		margin: 0 auto;
	}

	input {
		max-width: 40%;
	}

	input.email {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.base-form {
		margin: 0.5rem auto;
	}

	.content {
    display: flex;
  }

	.left-block {
		display: flex;
    width: 45%;
		margin-right: auto;
  }

	.right-block {
		width: 55%;
		margin-left: auto;
	}

	.right-block .base-text {
		margin-bottom: 10px;
	}

	.right-block .base-title {
		margin-top: 30px;
	}

/*-------------------------------work-details----------------------------------*/
	div.work-1.logo {
	  top: -9rem;
	  left: -15rem;
	}

	div.first-slide {
	  font-size: 36px;
	}

	div.first-slide p {
	  margin: 20% 10px;
	}

	div.first-slide img {
	  margin-top: -20%;
	}

	div.second-slide div.left-block-work h1{
		margin-top: 30%;
	  font-size: 26px;
	}

	div.third-slide div.left-block-work h1 {
		text-align: center;
		margin-top: 40%;
	  font-size: 26px;
	}

	div.second-slide div.left-block-work p {
		height: 60px;
		overflow: hidden;
	}

	div.third-slide div.left-block-work p {
		height: 60px;
		overflow: hidden;
	}

	nav.mobile-menu {
		display: block;
		height: 50px;
		text-align: left;
		position: relative;
	}

	nav.mobile-menu>i {
		font-size: 3rem;
		padding: 10px 0 0 10px;
	}

	div.mobile-list {
		position: absolute;
		top: -300px;
		left: 0;
		border: 1px solid blue;
		z-index: 101;
		width: 100%;
		background: #66ccff;
		transition: all 1s;

	}

	.visible {
		top: 50px !important;
	}

	div.mobile-list a {
		display: block;
		font-size: 2rem;
		text-decoration: none;
		color: #000;
		text-align: left;
		padding: 10px;
		border: 1px solid blue;
	}

	nav.menu {
		display: none;
	}

	div.button-back-small-screen {
		display: block;
		position: fixed;
		right: 1.5rem;
		top: 3rem;
		z-index: 1;
		transform: scale(1.2,1.2);
	}

	div.work-1.button-back {
		display: none;
	}

	div.second-slide, div.third-slide {
	  margin-left: 0;
	}

	.title-work {
	  top: 30%;
	}

	a.our-work > img {
	  margin-top: -25px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.content {
    display: flex;
  }

  .left-block {
    display: flex;
    width: 100%;
		max-height: 65%;
  }

	.right-block {
    position: absolute;
    width: 100%;
		max-height: 35%;
    bottom: 0;
		left: auto;
  }

	.right-block .base-text {
		height: 4rem;
		overflow: hidden;
		margin-bottom: 15px;
	}

	/*section.section1 .right-block {
		background: #96deff;
	}

	section.section2 .right-block {
		background: #9feeff;
	}

	section.section3 .right-block {
		background: #c4f185;
	}

	section.section4 .right-block {
		background: #545fff;
	}*/

	.s-row .btn-blue {
		width: calc(100% - 40px);
		padding: 1rem 4rem 1rem 5rem;
	}

	.base-form button {
		padding: 1rem 6rem;
	}

	.s-row:nth-child(2) {
		margin-top: 3.5rem;
		margin-bottom: 10px;
	}

	.s-row:nth-child(3) {
		margin: 10px auto;
	}

	.s-row:nth-child(4) {
		margin: auto;
	}

	.s-row:nth-child(5) {
		margin: auto;
	}

	input.email {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.base-form {
		margin: 1rem auto;
	}

	p.base-title {
		font-size: 4rem;
	}

	.title-work {
	  top: 40%;
	}

	/*-------------------------------work-details----------------------------------*/

	div.work-1.logo {
	  top: -9rem;
	  left: -9rem;
	}

	div.first-slide {
	  font-size: 36px;
	}

	div.first-slide p {
	  margin: 50% 10px;
	}

	div.first-slide img {
	  margin-top: 0;
	}

	div.second-slide, div.third-slide {
	  display: block;
	  height: 100vh;
	}

	div.second-slide div.left-block-work, div.third-slide div.left-block-work {
	  width: 100%;
		padding: 2rem 5rem 5rem 5rem;
	  height: 50vh;
	}

	div.second-slide div.right-block-work, div.third-slide div.right-block-work {
	  width: 100%;
	  height: 50vh;
	}

	a.our-work > img {
	  margin-top: -45px;
	}
}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
